In [1]:
import pandas as pd
import numpy as np
from Modul._4_cross_validation import k_fold_cross_validation
from Modul._5_implementasi_algoritma import DWKNN

In [2]:
import time
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
df = pd.read_csv('Output/3_Feature_Extraction/train.csv')
display(df)

      sentiment                                  text_preprocessed
0            -1  presiden hebat anies capai lihat ganjar prabow...
1             0  tuju tangkal anies kemarin biar anies omong ad...
2             0  doa tiga malam dok laku nama anies muhaiminkan...
3             0  bude pakai etika pas duo cawapres serang bocil...
4             1  ganjar mahfud paham petugas pajak integritas k...
...         ...                                                ...
6976          1  calon wakil presiden cawapres nomor urut muhai...
6977          1                       deh hebat gibran diam tonton
6978          1                 mampu pimpin mas gibran ragu hebat
6979          0  singkat anies tutup wawancara pers debat termi...
6980          0       amin anies baswedan muhaimin iskandar sa via

[6981 rows x 2 columns]

In [4]:
tfidf_df = pd.read_parquet('Output/3_Feature_Extraction/train_tfidf.parquet')
display(tfidf_df)

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,zikir,zionis,zjk,zodiak,zon,zona,zonk,zul,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
X = np.array(tfidf_df)
y = np.array(df['sentiment'])

In [6]:
df_cross_validation = pd.DataFrame({'k': pd.Series([(i+1)*5 for i in range(10)]), 'score': pd.Series()})
for i in range(5):
  df_cross_validation[f'fold_{i+1}'] = pd.Series()
display(df_cross_validation)

    k score fold_1 fold_2 fold_3 fold_4 fold_5
0   5   NaN    NaN    NaN    NaN    NaN    NaN
1  10   NaN    NaN    NaN    NaN    NaN    NaN
2  15   NaN    NaN    NaN    NaN    NaN    NaN
3  20   NaN    NaN    NaN    NaN    NaN    NaN
4  25   NaN    NaN    NaN    NaN    NaN    NaN
5  30   NaN    NaN    NaN    NaN    NaN    NaN
6  35   NaN    NaN    NaN    NaN    NaN    NaN
7  40   NaN    NaN    NaN    NaN    NaN    NaN
8  45   NaN    NaN    NaN    NaN    NaN    NaN
9  50   NaN    NaN    NaN    NaN    NaN    NaN

In [7]:
for k in df_cross_validation['k']:
  start = time.time()
  model = DWKNN(k)
  n = 5
  scores = k_fold_cross_validation(n, model, X, y)
  df_cross_validation.loc[df_cross_validation['k'] == k, 'score'] = scores.mean()
  for i in range(n):
    df_cross_validation.loc[df_cross_validation['k'] == k, f'fold_{i+1}'] = scores[i]
  end = time.time()
  print(f"Running time: {end - start:.4f} seconds")
display(df_cross_validation)

Running time: 336.0691 seconds
Running time: 334.8294 seconds
Running time: 333.9818 seconds
Running time: 332.8808 seconds
Running time: 334.2455 seconds
Running time: 367.7441 seconds
Running time: 364.5271 seconds
Running time: 342.8617 seconds
Running time: 333.7978 seconds
Running time: 350.7706 seconds

    k     score    fold_1    fold_2    fold_3    fold_4    fold_5
0   5  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
1  10  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
2  15  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
3  20  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
4  25  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
5  30  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
6  35  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
7  40  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
8  45  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613
9  50  0.607934  0.617752  0.633238  0.584527  0.589542  0.614613

In [8]:
df_cross_validation.to_csv('Output/4_Cross_Validation/result.csv')